<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        {% if category != None %}
        <title>Nokia Store: Apps :: {{ category }}</title>
        {% else %}
        <title>Nokia Store: Apps</title>
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
    
        <link rel="shortcut icon" href="/static/img/favicon1.ico" type="image/x-icon"/>
    </head>

    <body>

        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/m/home/"><img src="/static/img/logo_ovi.png" alt="Nokia" /></a>
                            </td>
                            <td id="searchLink">
                                <a href="#searchField">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->

                <div id="navigation">
                    <a class="first" href="/m/home/">Our picks</a> <b>|</b>
                    <a href="/m/applications/" class="selected">Apps</a> <b>|</b>
                    <a href="/m/games/">Games</a> <b>|</b>
                    <a href="/m/audiovideo/">Audio &amp; video</a> <b>|</b>
                    <a href="/m/personalize/">Personalisation</a>
                </div> <!-- end navigation -->
                
                {% if category != None %}
                <div id="crumbNav">Applications&nbsp;&gt; {{ category }}&nbsp;<a href="/m/applications/browse/">Change</a></div>
                {% else %}
                <div id="crumbNav">Applications&nbsp;&gt; All&nbsp;<a href="/m/applications/browse/">Change</a></div>
                {% endif %}
                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    
                    <table class="contentList" cellspacing="0" width='100%' >
                        {% for app in apps %}
                        {% if loop.index % 2 == 0 %}
                        <tr class="contentItem ">
                        {% else %}
                        <tr class="contentItem  alt">
                        {% endif %}
                        
                            <td class="thumbnail">
                                <img src="/static/store/{{ app['img'] }}" width="46" height="46" alt="{{ app['title'] }}" />
                            </td>
                        
                            <td class="contentType">
                                <h2 class="title">
                                    <a href="/m/app/{{ app['id'] }}/">{{ app['title'] }}</a>
                                </h2>{{ app['category'] }}
                            </td>
                        
                            <td class="contentRatingPrice">
                                <div class="rating">
                                    <img src="/static/img/star_p.png" alt="1 star" />
                                    <img src="/static/img/star_p.png" alt="2 stars" />
                                    <img src="/static/img/star_p.png" alt="3 stars" />
                                    <img src="/static/img/star_p.png" alt="4 stars" />
                                    <img src="/static/img/star_g.png" alt="5 stars" />
                                </div>
                            </td>
                        {% endfor %}
                        </tr>
                    </table>

                </div><!-- end Content Stream -->

                {% if previous_page != None or next_page != None %}
                <p class="pagination">
                {% if previous_page != None %}
                    <a href="/m/applications/?categoryId={{ category_id }}&pageId={{ previous_page }}">Previous</a>
                {% endif %}
                {% if next_page != None %}
                    <a href="/m/applications/?categoryId={{ category_id }}&pageId={{ next_page }}">Next</a>
                {% endif %}
                </p>
                {% endif %}
                <!-- SiteCatalyst code -->
                <div class="beacon"></div>
                <!-- End SiteCatalyst code -->  
                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="/m/search" method="get" id="searchForm">
                        <fieldset id='searchField'>
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" /> <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="/m/">Our picks</a><br />
                    <a href="/m/applications/" class="selected">Apps</a><br />
                    <a href="/m/games/">Games</a><br />
                    <a href="/m/audiovideo/">Audio &amp; video</a><br />
                    <a href="/m/personalize/">Personalisation</a><br />
    
                    <div class="settings">
                        <a href="http://www.nokia.com/support/">Help</a>
                    </div>
                </div> <!-- end navigation -->
            </div>
                        
            <div id="footer">
                <a class="accountStatusChange" href="https://store.ovi.mobi/login">Sign in</a>  |
                <a href="http://store.ovi.mobi/legal/terms/store">Terms</a> |
                <a href="http://store.ovi.mobi/legal/privacy">Privacy</a> |
                <a href="http://store.ovi.mobi/help/faqs">Help</a><br/>
            © Symbian Redevelopment Project 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
