<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Nokia Store: Download {{ app['title'] }} and many other games, wallpaper, ringtones and mobile apps on your Nokia phone</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{ app['description'] }}" />
        
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link rel="shortcut icon" href="/static/img/favicon1.ico" type="image/x-icon" />
    </head>

    <body>   
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/m/home/"><img src="/static/img/logo_ovi.png" alt="Nokia" /></a>
                            </td>
                            <td id="searchLink">
                                <a href="#searchContent">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->
                                
                <div id="crumbNav">
                    <a href="/m/applications/" id="crumbNavContentArea">Applications</a>
                        &gt; <a href="/m/applications?categoryId={{ app['category_id'] }}" id="crumbNavContentArea">{{ app['category_name'] }}</a>
                        &gt; {{ app['title'] }}
                </div>
            </div> <!-- end header -->

            <div id="views">
                <div class="view">   
                    <div class="contentItem" id="c359613">
                        <table class="contentInfo hreview-aggregate">
                            <tr>
                                <td class="feature">
                                    <img src="/static/store/{{ app['img'] }}" alt="{{ app['title'] }}" width="66" height="66" />
                                </td>
                                <td class="meta item">
                                    <div class="title"><h2 class="fn nokia-gray">{{ app['title'] }}</h2></div>
                                    <div>
                                        <p class="type">{{ app['size'] }} MB</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
        
                        <table width='100%'>
                            <tr>
                                <td align='right'>
                                    <div class="buy">
                                        <div class="buttons">
                                            <a href="/static/files/{{ app['file'] }}" class="lite" target="_blank">Download</a>
                                        </div> <!-- end buttons -->
                                    </div> <!-- end buy info -->
                                </td>
                            </tr>
                        </table>
        
                        <div class="reviewDiv">
                            <a href="/content/{{ app['id'] }}/comments" class="reviews"> Reviews</a>
                            <img src="/static/img/star_p.png" alt="1 star" />
                            <img src="/static/img/star_p.png" alt="2 stars" />
                            <img src="/static/img/star_p.png" alt="3 stars" />
                            <img src="/static/img/star_p.png" alt="4 stars" />
                            <img src="/static/img/star_p.png" alt="5 stars" />
                        </div>
                        
                        {% if app['screenshots_count'] > 0 %}
                        <p class="morePhotos"><a href="images/">More photos ({{ app['screenshots']|length }})</a></p>
                        {% else %}
                        <p></p>
                        {% endif %}
                    
                        <div class="description">
                            <p>{{ app['description']|replace('\\n', '<br />')|safe }}</p>
                        </div> <!-- end description -->
            
                        <div class="publisher">
                            <a href="#" onclick="return false;">See all by {{ app['publisher'] }}</a>
                        </div>

                        <div class="privacyPolicy">
                            <a href="#" onclick="return false;">Privacy policy</a>
                        </div>
        
                        {% if recommended != None %}
                        <div class="related">
                            <h3>Here are the most popular items that are similar to {{ app['title'] }}:</h3>

                            <table class="contentList" cellspacing="0" width='100%' >
                
                                {% for app in recommended %}
                                {% if loop.index % 2 == 0 %}
                                <tr class="contentItem ">
                                {% else %}
                                <tr class="contentItem alt ">
                                {% endif %}
                                    <td class="thumbnail">
                                        <img src="/static/store/{{ app['img'] }}" alt="thumbnail of {{ app['title'] }}" width="46" height="46" />
                                    </td>
                                    
                                    <td class="contentType">
                                        <h2 class="title">
                                            <a href="/m/app/{{ app['id'] }}">{{ app['title'] }}</a>
                                        </h2>{{ app['category_name'] }}
                                    </td>
        
                                    <td class="contentRatingPrice">
                                        <div class="rating">
                                            <img src="/static/img/star_p.png" alt="1 star" />
                                            <img src="/static/img/star_p.png" alt="2 stars" />
                                            <img src="/static/img/star_p.png" alt="3 stars" />
                                            <img src="/static/img/star_p.png" alt="4 stars" />
                                            <img src="/static/img/star_p.png" alt="5 stars" />
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                    </div> <!-- end content item -->

                    <div class="beacon"></div>
                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="/m/search" method="get" id="searchForm">
                        <fieldset id='searchField'>
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" />
                            <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="/m/">Our picks</a><br />
                    <a href="/m/applications/" class="selected">Apps</a><br />
                    <a href="/m/games/">Games</a><br />
                    <a href="/m/themes/">Themes</a><br />
    
                    <div class="settings">
                        <a href="/support/">Help</a>
                    </div>
                </div> <!-- end navigation -->
            </div>
                        
            <div id="footer">
                <a class="accountStatusChange" href="/login">Sign in</a>  |
                <a href="/legal/terms/store">Terms</a> |
                <a href="/legal/privacy">Privacy</a> |
                <a href="/help/faqs">Help</a><br/>
            © Symbian Redevelopment Project 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
