<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Nokia Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />    
        <link rel="shortcut icon" href="/static/img/favicon1.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/m/home/"><img src="/static/img/logo_ovi.png" alt="Nokia" /></a>
                            </td>
                            <td id="searchLink">
                                <a href="#searchContent">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->
                                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div class="contentItem">
                        {% for screenshot in app['screenshots'] %}
                        <div class="image">
			                <a href="/static/screenshots/{{ screenshot }}">
	                            <img src="/static/screenshots/{{ screenshot }}" width="29" height="52" alt="{{ app['title'] }}" />
	                        </a>
		                </div>
                        {% endfor %}
    
                        <div class="options">
                            <a href="/m/app/{{ app['id'] }}/">&lt; Back to {{ app['title'] }}</a>
                        </div>
                    </div> <!-- end content -->
                    <!-- SiteCatalyst code -->
                    <div class="beacon"></div>
                    <!-- End SiteCatalyst code -->

                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                <a class="accountStatusChange" href="/login">Sign in</a>  |
                <a href="/legal/terms/store">Terms</a> |
                <a href="/legal/privacy">Privacy</a> |
                <a href="/help/faqs">Help</a><br/>
            © Symbian Redevelopment Project 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
