<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        {% if category != None %}
        <title>Nokia Store: Apps :: {{ category_name }}</title>
        {% else %}
        <title>Nokia Store: Apps</title>
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link rel="shortcut icon" href="/static/img/favicon1.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/m/home/"><img src="/static/img/logo_ovi.png" alt="Nokia" /></a>
                            </td>
                            <td id="searchLink">
                                <a href="#searchContent">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->

                <div id="navigation">
                    <a class="first" href="/m/home/">Our picks</a> <b>|</b>
                    <a href="/m/applications/">Apps</a> <b>|</b>
                    <a href="/m/games/" class="selected">Games</a> <b>|</b>
                    <a href="/m/themes/">Themes</a>
                </div> <!-- end navigation -->
                
                {% if category != None %}
                <div id="crumbNav">Games&nbsp;&gt; {{ category }}&nbsp;<a href="/m/games/browse/">Change</a></div>
                {% else %}
                <div id="crumbNav">Games&nbsp;&gt; All&nbsp;<a href="/m/games/browse/">Change</a></div>
                {% endif %}
                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    
                    <br />
                    <table class="contentList" cellspacing="0" width='100%' style="margin-left: 5px;">
                        <tr class="contentItem ">
                            <td class="contentType">
                                <h2 class="title">No games (yet)</h2>
                            </td>
                        </tr>
                    </table>

                    </div><!-- end Content Stream -->

                    <div class="beacon"></div>

                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="/m/search" method="get" id="searchForm">
                        <fieldset id='searchField'>
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" /> <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="/m/">Our picks</a><br />
                    <a href="/m/applications/">Apps</a><br />
                    <a href="/m/games/" class="selected">Games</a><br />
                    <a href="/m/themes/">Themes</a><br />
    
                    <div class="settings">
                        <a href="/support/">Help</a>
                    </div>
                </div> <!-- end navigation -->
            </div>
                        
            <div id="footer">
                <a class="accountStatusChange" href="/login">Sign in</a>  |
                <a href="/legal/terms/store">Terms</a> |
                <a href="/legal/privacy">Privacy</a> |
                <a href="/help/faqs">Help</a><br/>
            © Symbian Redevelopment Project 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
