<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Nokia Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />             
        <link rel="shortcut icon" href="/static/img/favicon1.ico" type="image/x-icon" />
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/m/home/"><img src="/static/img/logo_ovi.png" alt="Nokia" /></a>
                            </td>
                            <td id="searchLink">
                                <a href="#searchField">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->                        
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div class="contentItem">
                        <div id="searchField">
                            <form action="/m/search" method="get" id="searchForm">
                                <fieldset>
                                    <input type="text" id="search" name="q" size="15" style="width: 63%; max-width: 300px;" title="" value="{{ search_query }}" />
                                    <input type="submit" id="searchBtn" value="Search" />
                                </fieldset>
                            </form>
                        </div> <!-- end search -->
                        <h3>Search results for &apos;{{ search_query }}&apos;</h3>
                    </div>


                    <!-- Content Stream     -->
                    <!-- Search Results -->
                    <div class="contentList">
                        <table class="contentList" cellspacing="0" width='100%' >
                            
                            {% for result in results %}

                            {% if loop.index % 2 == 0 %}
                            <tr class="contentItem ">
                            {% else %}
                            <tr class="contentItem alt ">
                            {% endif %}
            
                                <td class="thumbnail">
                                    <img src="/static/store/{{ result['img'] }}" alt="thumbnail of {{ result['title'] }}" width="46" height="46" />
                                </td>
            
                                <td class="contentType">
                                    <h2 class="title">
                                        <a href="/m/app/{{ result['id'] }}">{{ result['title'] }}</a>
                                    </h2>{{ result['category'] }}
                                </td>
            
                                <td class="contentRatingPrice">
                                    <div class="rating">
                                        <img src="/static/img/star_p.png" alt="1 star" />
                                        <img src="/static/img/star_p.png" alt="2 stars" />
                                        <img src="/static/img/star_p.png" alt="3 stars" />
                                        <img src="/static/img/star_p.png" alt="4 stars" />
                                        <img src="/static/img/star_g.png" alt="5 stars" />
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}
                        </table>
                    </div><!-- end contentList -->
                    <!-- end results -->
                
                    {% if previous_page != None and next_page != None %}
                    <div class="pagination">
                        <p class="pagination">
                    {% if previous_page != None %}
                            <a href="/m/search/?q={{ search_query}}&page={{ previous_page }}">Previous</a>
                    {% endif %}
                    {% if next_page != None %}
                            <a href="/m/search/?q={{ search_query}}&page={{ next_page }}">Next</a>
                    {% endif %}
                        </p>
                    </div>
                    {% endif %}

                    <!-- end results -->

                    <div class="homeLink">
                        <a href="/m/">Home</a>
                    </div>

                    <div class="beacon"></div>
                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                <a class="accountStatusChange" href="/login">Sign in</a>  |
                <a href="/legal/terms/store">Terms</a> |
                <a href="/legal/privacy">Privacy</a> |
                <a href="/help/faqs">Help</a><br/>
            © Symbian Redevelopment Project 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
